dist/*
lib_managed/
project/boot/
project/plugins/project/
src_managed/
target/

.bsp/sbt.json
.cache
.history
.jvmopts
.lib/
.idea
*.swp
*.swo

src/main/resources/production.conf
src/it/resources/sql/test_data.sql
